{#
# ---------------------------------------------------------------------
# GLPI - Gestionnaire Libre de Parc Informatique
# Copyright (C) 2015-2021 Teclib' and contributors.
#
# http://glpi-project.org
#
# based on GLPI - Gestionnaire Libre de Parc Informatique
# Copyright (C) 2003-2014 by the INDEPNET Development Team.
#
# ---------------------------------------------------------------------
#
# LICENSE
#
# This file is part of GLPI.
#
# GLPI is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# GLPI is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with GLPI. If not, see <http://www.gnu.org/licenses/>.
# ---------------------------------------------------------------------
#}

{% import 'components/form/fields_macros.html.twig' as fields %}
{% set field_options = {
    'full_width': true,
    'fields_template': itiltemplate,
    'disabled': (not canupdate),
    'add_field_class': (is_expanded ? 'col-sm-6' : ''),
} %}

{% set itil_layout    = user_pref('itil_layout', true) %}
{% set headers_states = itil_layout['items'] %}

<div class="accordion open accordion-flush" id="itil-data">
    {% set main_show = headers_states['item-main'] is not defined or headers_states['item-main'] == "true" ? true : false %}
    <div class="accordion-item">
        <button class="accordion-button {{ main_show ? "" : "collapsed" }}" type="button" data-bs-toggle="collapse" data-bs-target="#item-main" aria-expanded="true" aria-controls="ticket-main">
            <i class="ti ti-alert-circle me-1 item-icon"></i>
            <span class='status-recall'>
                {{ item.getStatusIcon(item.fields['status'])|raw }}
            </span>
            <span class="item-title">
                {{ item.getTypeName(1) }}
            </span>
        </button>
        <div id="item-main" class="accordion-collapse collapse {{ main_show ? "show" : "" }}" aria-labelledby="heading-main-ticket">
            <div class="accordion-body row m-0 mt-n2">

                {% if is_multi_entities_mode() %}
                    {% if item.isNewItem() %}
                        {{ fields.dropdownField(
                            'Entity',
                            'entities_id',
                            item.fields['entities_id'],
                            _n('Entity', 'Entities', 1),
                            field_options|merge({
                                'entity': userentities,
                                'on_change': 'this.form.submit()',
                            })
                        ) }}
                    {% else %}
                        {% set entity_html %}
                            {{ call('Entity::badgeCompletenameLinkById', [item.fields['entities_id']])|raw }}
                        {% endset %}

                        {{ fields.field(
                            '',
                            entity_html,
                            _n('Entity', 'Entities', 1),
                            field_options|merge({
                                'add_field_class': 'd-flex align-items-center',
                            })
                        ) }}
                    {% endif %}

                    {% if item.isField('is_recursive') %}
                        {{ fields.dropdownYesNo(
                            'is_recursive',
                            item.fields['is_recursive'],
                            __('Child entities'),
                            field_options
                        ) }}
                    {% endif %}
                {% endif %}

                {% if item.isNewItem() %}
                {{ fields.dropdownField(
                    'Change',
                    'changes_id',
                    params['changes_id'],
                    __('For this change', 'releases'),
                    field_options|merge({
                        'hide_if_no_elements': true,
                        'full_width': true,
                        'field_class': 'col-12 col-sm-12',
                        'label_class': 'col-12 col-sm-12',
                        'input_class': 'col-10 col-sm-10',
                        'is_horizontal': false,
                        'align_label_right': true,
                        'mb': 'mb-2'
                    })
                ) }}
                {% endif %}
                {{ fields.datetimeField(
                    'date',
                    item.fields['date'],
                    __('Opening date'),
                    field_options|merge({
                        'full_width': true,
                        'field_class': 'col-12 col-sm-12',
                        'label_class': 'col-12 col-sm-12',
                        'input_class': 'col-10 col-sm-10',
                        'is_horizontal': false,
                        'align_label_right': true,
                        'mb': 'mb-2'

                    })
                ) }}

                {{ fields.datetimeField(
                    'date_preproduction',
                    item.fields['date_preproduction'],
                    __('Pre-production planned date', 'releases'),
                    field_options|merge({
                        'full_width': true,
                        'field_class': 'col-12 col-sm-12',
                        'label_class': 'col-12 col-sm-12',
                        'input_class': 'col-10 col-sm-10',
                        'is_horizontal': false,
                        'align_label_right': true,
                        'mb': 'mb-2'

                    })
                ) }}

                {{ fields.datetimeField(
                    'date_production',
                    item.fields['date_production'],
                    __('Production planned date', 'releases'),
                    field_options|merge({
                        'full_width': true,
                        'field_class': 'col-12 col-sm-12',
                        'label_class': 'col-12 col-sm-12',
                        'input_class': 'col-10 col-sm-10',
                        'is_horizontal': false,
                        'align_label_right': true,
                        'mb': 'mb-2'

                    })
                ) }}

                {{ include('components/itilobject/fields/status.html.twig') }}

                {% if item.isField('locations_id') %}
                    {{ fields.dropdownField(
                        'Location',
                        'locations_id',
                        item.fields['locations_id'],
                        'Location'|itemtype_name,
                        field_options|merge({
                            'hide_if_no_elements': true,

                        })
                    ) }}
                {% endif %}
            </div>
        </div>
    </div>
    {% set actors_show = headers_states['actors'] is not defined or headers_states['actors'] == "true" ? true : false %}
    <div class="accordion-item">
        <button class="accordion-button {{ actors_show ? "" : "collapsed" }}" type="button" data-bs-toggle="collapse" data-bs-target="#actors" aria-expanded="true" aria-controls="actors">
            <i class="ti ti-users me-1"></i>
            <span class="item-title">
                {{ __('Actors') }}
            </span>
            <span class="badge bg-primary ms-2">
               {{ item.countActors() }}
            </span>
        </button>
        <div id="actors" class="accordion-collapse collapse {{ actors_show ? "show" : "" }}" aria-labelledby="heading-actor">
            <div class="accordion-body accordion-actors row m-0 mt-n2">
                {{ include('components/itilobject/actors/main.html.twig') }}
            </div>
        </div>
    </div>

    {% if release_item is defined and release_item is not null %}
        <div class="accordion-item">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#items"
                    aria-expanded="true" aria-controls="items">
                <i class="ti ti-clipboard-check me-1"></i>
                <span>{{ _n('Associated change', 'Associated changes', get_plural_number(), 'releases') }}</span>
                <span class="item-counter badge bg-primary ms-2"></span>
            </button>
            <div id="items" class="accordion-collapse collapse show" aria-labelledby="items-heading">
                <div class="accordion-body accordion-items row m-0 mt-n2">
                    {{ release_item.itemAddForm(item, params|default({})) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if item.getType() == 'GlpiPlugin\Releases\Release' %}
        {% set shutdowns_fields = {
            'service_shutdown': __('Service shutdown', 'releases'),
        } %}

        {% set nb_shutdowns = 0 %}
        {% for shutdowns_field, label in shutdowns_fields %}
            {% if item.isField(shutdowns_field) and item.fields[shutdowns_field] == 1 %}
                {% set nb_shutdowns = nb_shutdowns + 1 %}
            {% endif %}
        {% endfor %}
        {% set shutdowns_show = headers_states['shutdowns'] is defined and headers_states['shutdowns'] == "true" ? true : false %}
        <div class="accordion-item">
            <button class="accordion-button {{ shutdowns_show ? "" : "collapsed" }}" type="button" data-bs-toggle="collapse" data-bs-target="#shutdowns"
                    aria-expanded="true" aria-controls="shutdowns">
                <i class="ti ti-power me-1"></i>
                <span class="item-title">
                        {{ __('Service shutdown', 'releases') }}
                    </span>
                {% if nb_shutdowns > 0 %}
                    <span class="badge bg-primary ms-2">{{ nb_shutdowns }}</span>
                {% endif %}
            </button>
            <div id="shutdowns" class="accordion-collapse collapse {{ shutdowns_show ? "show" : "" }}" aria-labelledby="shutdowns-heading">
                <div class="accordion-body row m-0 mt-n2">

                    {{ fields.dropdownYesNo(
                        'service_shutdown',
                        item.fields['service_shutdown'],
                        __('Service shutdown', 'releases'),
                        field_options
                    ) }}

                    {{ fields.dropdownYesNo(
                        'hour_type',
                        item.fields['hour_type'],
                        __('Non-working hours', 'releases'),
                        field_options
                    ) }}

                    {{ fields.textareaField(
                        'service_shutdown_details',
                        item.fields['service_shutdown_details'],
                        __('Service shutdown details', 'releases'),
                        field_options|merge({
                            'enable_richtext': true,
                            'is_horizontal': false,
                        })
                    ) }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if item.getType() == 'GlpiPlugin\Releases\Release' %}
        {% set communications_fields = {
            'communication': __('Communication', 'releases'),
        } %}

        {% set nb_communications = 0 %}
        {% for communications_field, label in communications_fields %}
            {% if item.isField(communications_field) and item.fields[communications_field] == 1 %}
                {% set nb_communications = nb_communications + 1 %}
            {% endif %}
        {% endfor %}
        {% set communications_show = headers_states['communications'] is defined and headers_states['communications'] == "true" ? true : false %}
        <div class="accordion-item">
            <button class="accordion-button {{ communications_show ? "" : "collapsed" }}" type="button" data-bs-toggle="collapse"
                    data-bs-target="#communications" aria-expanded="true" aria-controls="communications">
                <i class="ti ti-speakerphone me-1"></i>
                <span class="item-title">
                        {{ __('Communication', 'releases') }}
                    </span>
                {% if nb_communications > 0 %}
                    <span class="badge bg-primary ms-2">{{ nb_communications }}</span>
                {% endif %}
            </button>
            <div id="communications" class="accordion-collapse collapse {{ communications_show ? "show" : "" }}" aria-labelledby="communications-heading">
                <div class="accordion-body row m-0 mt-n2">

                    {{ fields.dropdownYesNo(
                        'communication',
                        item.fields['communication'],
                        __('Communication', 'releases'),
                        field_options
                    ) }}

                    {{ fields.dropdownItemTypes(
                        'communication_type',
                        item.fields['communication_type'],
                        __('Communication type', 'releases'),
                        field_options|merge({
                            'types': ['Entity', 'Group','Profile','User','Location']
                        })
                    ) }}

                </div>
            </div>
        </div>
    {% endif %}
    <span class="d-none d-md-block">
        <button type="button" class="switch-panel-width btn btn-sm btn-square btn-icon btn-ghost-secondary position-absolute bottom-0 start-0 mb-2">
            <i class="fas fa-caret-left"></i>
        </button>
    </span>
</div>

<script type="text/javascript">
   $(function() {
      if ($(window).width() < 768) { // medium breakpoint (Todo check if it's possible to get bootstrap breakpoints withint javascript)
         $('#itil-data .accordion-collapse').each(function() {
            $(this).removeClass('show');
         })
      }
   });
</script>
